---
layout: page
title: Contact
sidebar_link: true
---
<div class="assemble">
  <form action="https://formspree.io/contact@endonymous.fr" method="POST">
      <p><label for="nom">Nom :</label><input type="text" id="nom" name="nom" tabindex="1" /></p>
      <p><label for="email">Email :</label><input type="text" id="email" name="email" tabindex="2" /></p>
      <p><label for="message">Message :</label></p>
      <textarea id="message" name="message" tabindex="4" rows="15"></textarea>
      <p><input type="submit" value="Envoyer" class="animate button"></p>
  </form>

  {% include twitter-embed.html %}
</div>

<div class="contact">
  {% include mailchimp.html %}
</div>
