---
title: Blog BD
---
{% include head.html %}

<div class="container center">
  <div class="row center">
    <div class="col-md-8">
      <a href="https://www.change.org/p/minist%C3%A8re-des-solidarit%C3%A9s-et-de-la-sant%C3%A9-faisons-int%C3%A9grer-l-endom%C3%A9triose-dans-la-liste-des-ald30" class="cta bio">Pétition ALD</a>
    </div>
    <div class="col-md-8">
      <img src="../assets/images/articles/bd/bd.svg" class="petit">
      <h3>Roman graphique</h3>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-1-le-deni.html" class="cta bio">Partie 1</a>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-2-le-choc.html" class="cta bio">Partie 2</a>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-3-la-colere.html" class="cta bio">Partie 3</a>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-4-l-operation.html" class="cta bio">Partie 4</a>
    </div>
     <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-5-le-handicap.html" class="cta bio">Partie 5</a>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-6-la-peur.html" class="cta bio">Partie 6</a>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/histoire/partie-7-la-depression.html" class="cta bio">Partie 7</a>
    </div>
    <div class="col-md-8">
      <img src="../assets/images/articles/divers/journal.svg" class="petit">
      <h3>Articles</h3>
    </div>
    <div class="col-md-8">
      <a href="https://endonymous.fr/article/journal-observation.html" class="cta bio">Journal d'observation</a>
    </div>
    <div class="col-md-8">
      <h3>EndoBujo</h3>
    </div>
    <div class="col-md-8">
      <a href="https://endobujo.fr" class="cta bio">EndoBujo</a>
    </div>
  </div>
</div>

{% include script.html %}