// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

main, article, section{display: block;}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  margin: 0 auto;
  height: auto; // Fix to keep max-width from squishing images with defined
                // height in HTML
}

.graph img{
  max-width: 720px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $border-color;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $border-color;
}

th {
  text-align: left;
}

ul.sommaire{
  list-style: none;
  font-family: "helsinkiregular";
  text-align: center;
  a{
    background:
     linear-gradient(
       to bottom, #fff 0%,
       #fff 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    padding: 0.4em 0.7em 0.2em 0.7em;
    margin-top: 1em;
    color: $gray-6;
    text-decoration: underline;
    font-size: 1em;
    &:hover,&:focus{
      color: #fff;
      background:
         linear-gradient(
           to bottom, $maincolor 0%,
           $maincolor 100%
         );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 50px;
    }
  }
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $gray-1;
}

form{
  margin:0 auto;
  flex: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  flex: auto;
  .top{
    display: inline-flex;
    .inside{
      display:flex;
      flex-direction: column;
      label{width: 275px;}
      &:last-child{
      margin-left: 1em;
      }
    }
  }
  label{
    margin-right: 1em;
    font-family: "helsinkiregular";
  }
  textarea{
    font-family:$root-font-family;
    font-size: 1.1em;
    width: 100%;
  }
  input[type="submit"]{
    margin: 0 auto;
    background-color: $maincolor;
    color: white;
    font-family: "helsinkiregular";
    border:none;
    width: 150px;
    margin-top: 1em;
    font-size: 1em;
  }
}

input[type="text"], input[type="search"], input[type="submit"], .button{
  padding: 0.7em 1.5em;
  max-width: 600px;
}