// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6, .site-title, strong {
  margin-bottom: $heading-spacing;
  font-weight: 600;
  line-height: 1.25;
  color: $heading-color;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,.strong{ font-family: "helvetihandmedium", serif;}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3,.strong {
  margin-top: 1.4rem;
  font-size: 1.6rem;
}

h4{
  font-size: 1.4em;
  text-indent: 1em;
  margin-top: 1.5rem;
  color: $gray-5;
}

h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
  text-indent: 1.2em;
}

p {
  margin-bottom: 1rem;
}

.body p, ul>li{font-size: 1.2rem;}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

a:hover{text-decoration: none;}
.link{color: $gray-6; text-decoration: underline;}

.center{max-width: 600px; margin:0 auto;}
.little{width: 30%; margin:0 auto;}
.middle{max-width: 400px;margin: 0 auto;}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted $border-color;
  }
}

blockquote {
  padding: .5rem .5rem;
  color: #7a7a7a;
  border-left: .25rem solid $yellow;
  p {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.body blockquote p{
    font-size: 1em;
    font-style: italic;
}
// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 85%;
  display: inline-block;
}
.inside-notes{font-weight: bold;}
.footnotes p{margin: 0;}
.footnotes .link-note{color: $gray-6;}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

// SVG Icons
a svg, .icon svg {
  height: 1em;
  width: auto;
}
/* a svg { fill: $yellow; }
 */.icon { vertical-align: middle; }

.logo{max-height: 220px;margin: 0 auto;}
@media (max-width: 65em) {
    img{width: 100%;}
    img.logo{width: auto;}
    .center{margin: 0 auto;padding-bottom: 5px;}
  }
@media (max-width: 570px){
.center{width: 90%; text-align: center; margin:0 auto;}
}

.profil{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: 5em;
  background-color: $gray-1;
  padding: 1.5em 0.6em 0.6em 0.6em;
  margin: 0 auto;
  width: 75%;
  .droite{width: 70%;
    @media (max-width: 800px){width: 100%;}
  }
}
.profil .gauche{
  justify-content:left;
  @media (max-width: 800px){margin: 0 auto;}
  img{width:150px;padding-right: 2em;}
}
.profil span{color: $link-color;font-weight: 700;}
