$gray-1: #fcfcfc !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$maincolor: #D86767!default;
$part1: #7D9D74 !default;
$part2: #CFBA4C !default;
$part3: #DF3535 !default;
$part4: #4AB1C2 !default;
$part5: #2D426A !default;

$root-font-family: "Segoe UI", "Roboto", "Oxygen", "Droid Sans", Arial, sans-serif !default;
$font-comic:"helvetihandmedium", serif;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$body-color: $gray-6 !default;
$body-muted: $gray-4 !default;
$body-bg: #fff !default;
$link-color: $maincolor !default;
$heading-color: $gray-6 !default;

$border-color: $gray-2 !default;
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$content-padding:5rem !default;
$sidebar-width: 25rem !default;
$alternatesidebar-width: 15rem !default;

$large-breakpoint: 55rem !default;
$medium-breakpoint: 80rem !default;
$tablet-breakpoint: 80rem !default;
$large-font-size: 1rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);

// Hyde theming
$sidebar-bg-color: $gray-1 !default;
$sidebar-sticky: true !default;
$layout-reverse: false !default;
