<!-- Optional additional links to insert for icons links -->
<nav class="sidebar-icon-links">
  <a id="twitter"
     class="icon animate" title="Twitter Endonymous" aria-label="Twitter Endonymous"
     href="https://twitter.com/Endonym0us">
    {% include svg/twitter.svg %}
  </a>
  <a id="facebook"
     class="icon animate" title="Facebook Endonymous" aria-label="Facebook Endonymous"
     href="https://www.facebook.com/Endonymous-162022987832317/">
    {% include svg/facebook.svg %}
  </a>

  <a id="instagram"
     class="icon animate" title="Instagram Endonymous" aria-label="Instagram Endonymous"
     href="https://www.instagram.com/endonymous/">
    {% include svg/instagram.svg %}
  </a>

  <a id="mail"
     class="icon animate" title="contact Endonymous" aria-label="Contact Endonymous"
     href="mailto:contact@endonymous.fr">
    {% include svg/mail.svg %}
  </a>
</nav>
