<!-- Optional additional links to insert for icons links -->
<nav id="sidebar-icon-links">
  <a id="twitter"
     class="icon" title="Twitter Endonymous" aria-label="Twitter Endonymous"
     href="https://twitter.com/Endonym0us"
     target="_blank">
    {% include svg/twitter.svg %}
  </a>
  <a id="facebook"
     class="icon" title="Facebook Endonymous" aria-label="Facebook Endonymous"
     href="https://www.facebook.com/Endonymous-162022987832317/"
     target="_blank">
    {% include svg/facebook.svg %}
  </a>

  <a id="instagram"
     class="icon" title="Instagram Endonymous" aria-label="Instagram Endonymous"
     href="https://www.instagram.com/endonymous/"
     target="_blank">
    {% include svg/instagram.svg %}
  </a>

  <a id="mail"
     class="icon" title="contact Endonymous" aria-label="Contact Endonymous"
     href="mailto:contact@endonymous.fr"
     target="_blank">
    {% include svg/mail.svg %}
  </a>
</nav>