{% comment %}
  Separate partial for Google Webfont include, so we can override with
  different fonts as applicable.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" />
<style>
@font-face {
  font-family: 'helvetihandmedium';
  src: url('/assets/font/helvetihand-webfont.woff2') format('woff2'),
        url('/assets/font/helvetihand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helsinkiregular';
  src: url('/assets/font/helsinki-webfont.eot');
  src: url('/assets/font/helsinki-webfont.woff') format('woff'),
        url('/assets/font/helsinki-webfont.svg#helsinkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
</style>
