<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Endonymous est un blog BD sur l'endométriose. Le roman graphique qui y est publié gratuitement sur le site parle de ma propre expérience, du diagnostic et de mon parcours en tant qu'endo-girl.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" href="/assets/css/design.css">
    {% feed_meta %}
     {% include font.html %}
     {% include plausible.html %}
     {% include metadonnees.html %}

    <title>
      Endonymous
      {% if page.og_title %}
       {{ page.og_title }}
       {% else %}
        {% if page.title %}
        {{ page.title }}
          {% else %}
        {{ site.subtitle }} {{ site.tagline }}
        {% endif %}
      {% endif %}
    </title>
  </head>
  <body>

  <header>
    {% include navbar.html %}
