<!-- Optional additional links to insert for icons links -->
<div class="reseaux">
  <a id="twitter"
     class="icon animate none" title="Twitter Endonymous" aria-label="Twitter Endonymous"
     href="https://twitter.com/Endonym0us">
    <img src="/assets/svg/twitter.svg" alt="Twitter" />
  </a>
  <a id="facebook"
     class="icon animate none" title="Facebook Endonymous" aria-label="Facebook Endonymous"
     href="https://www.facebook.com/Endonymous-162022987832317/">
    <img src="/assets/svg/facebook.svg" alt="facebook" />
  </a>

  <a id="instagram"
     class="icon animate none" title="Instagram Endonymous" aria-label="Instagram Endonymous"
     href="https://www.instagram.com/endonymous/">
    <img src="/assets/svg/instagram.svg" alt="instagram" />
  </a>

  <a id="mail"
     class="icon animate none" title="contact Endonymous" aria-label="Contact Endonymous"
     href="mailto:contact@endonymous.fr">
    <img src="/assets/svg/mail.svg" alt="mail" />
  </a>
</div>
