<div>
  <div class="custom-foot">
    <div class="strong">Si vous avez aimé cet article, partagez-le !</div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ab41c1099be7007"></script>
    <div class="addthis_inline_share_toolbox_odn6"></div>
  </div>
  <div class="mailchimp">
    <div class="strong">Inscrivez-vous à la newsletter</div>
    <p>Et recevez la suite de <b>Deux ans plus tard.</b></p>
      <a href="http://eepurl.com/dFxzmL" class="button animate" target="_blank"> S'inscrire</a>
  </div>
  <div>
    <div class="strong">Suivez les nouvelles sorties sur les réseaux sociaux !</div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ab41c1099be7007"></script>
      <div class="addthis_inline_follow_toolbox"></div>
  </div>
</div>
