<div class="post-meta">
  <span class="post-date">{% assign m = include.post.date | date: "%-m" %}
{{ include.post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Janvier
  {% when '2' %}Février
  {% when '3' %}Mars
  {% when '4' %}Avril
  {% when '5' %}Mai
  {% when '6' %}Juin
  {% when '7' %}Juillet
  {% when '8' %}Août
  {% when '9' %}Septembre
  {% when '10' %}Octobre
  {% when '11' %}Novembre
  {% when '12' %}Décembre
{% endcase %}
{{ include.post.date | date: "%Y" }}</span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      &bull;

      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <a href="{{ site.baseurl }}{{ category_page.url }}">
          {{ category_page.title }}
        </a>
      {% else %}
        {{ category }}
      {% endif %}
    {% endfor %}
  </span>
</div>
