<div class="post-meta">
  <span class="post-date">{% assign m = include.post.date | date: "%-m" %}
{{ include.post.date | date: "%-d" }}-{% case m %}
  {% when '1' %}01
  {% when '2' %}02
  {% when '3' %}03
  {% when '4' %}04
  {% when '5' %}05
  {% when '6' %}06
  {% when '7' %}07
  {% when '8' %}08
  {% when '9' %}09
  {% when '10' %}10
  {% when '11' %}11
  {% when '12' %}12
{% endcase %}-{{ include.post.date | date: "%Y" }}</span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      &bull;

      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <a href="{{ site.baseurl }}{{ category_page.url }}">
          {{ category_page.title }}
        </a>
      {% else %}
        {{ category }}
      {% endif %}
    {% endfor %}
  </span>
</div>
