</header>

<div class="container default">
  <div class="row">
    <div class="sidebar">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <a href="/index.html">
            <div class="h1">
              <h1>Le roman graphique</h1>
              <span>qui parle</span>
              <h2 class="endo">d'endométriose</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <a href="/index.html">
            <img src="/assets/images/sidebar.png" class="img-fluid">
          </a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-5 offset-lg-1">
          <p class="title">lire la bd</p>
          <a class="cta" href="">Lire</a>
        </div>
        <div class="col-lg-5">
          <p class="title">des ateliers sur la région Lyonnaise</p>
          <a class="cta" href="https://cycliques.fr">Cycliques.fr</a>
        </div>
      </div>
    </div>