<div id="sidebar">
  <header>
    <div id="bg">
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <div class="titre"><a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a></div>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
      <a href="{{ site.baseurl }}/"><img src="/assets/images/testlogo2.svg" class="logo"></a>
      {% include custom-icon-links.html %}
    </div>
      <img src="/assets/images/fresque.svg" class="fresque">
    {% include sidebar-nav-links.html %}
  </header>
</div>
