</header>

<div class="container-sm default">
  <div class="row">
    <div class="sidebar">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-md-6 text-center">
          <a href="/index.html" class="none">
            <div class="h1">
              <h1>Le roman graphique</h1>
              <span>qui parle</span>
              <h2 class="endo">d'endométriose</h2>
            </div>
          </a>
          <a href="/index.html" class="none">
            <img src="/assets/images/sidebar.png" class="img-fluid">
          </a>
        </div>
        <div class="col-lg-12 col-md-6 text-center texte">
          <div class="inline">
            <p class="title">lire la bd</p>
            <a class="cta" href="/histoire/partie-1-le-deni.html">Lire</a>
          </div>
          <div class="inline">
            <p class="title">Un site d'information sur l'endométriose</p>
            <a class="cta" href="https://endobujo.fr">endobujo.fr</a>
          </div>

          <div class="margintop">
            {% include horizontalmailchimp.html %}
          </div>
        </div>
      </div>
      <div class="row text-center margintop">
        <div class="col-lg-6 offset-lg-3 col-sm-12">
        </div>
      </div>
    </div>