---
---

$maincolor: #E2BD81!default;
$gray-1: #F8F8F8;
$gray-2: #C2C2C2;
$gray-3: #5D5D5D;

$part1: #7D9D74 !default;
$part2: #CFBA4C !default;
$part3: #DF3535 !default;
$part4: #4AB1C2 !default;
$part5: #2D426A !default;

$font-family: "Arial", "Roboto", "Calibri", sans-serif !default;
$font-comic:"helvetihandmedium", serif;
$cursive:'pacifico';
$font-title:"helsinkiregular",serif;

body, .container{
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}
.minimum{min-height: calc(100vh - 140px);}
.inflow{min-height: 70px;display: inherit;}
.row{margin-right: 0; margin-left: 0;}

.default{
  min-width: 100%;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand
{border-bottom: 0.5em solid #f8f9fa;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{border-bottom: 0.5em solid $maincolor;}
.reseaux{
  display: inline-block;
  margin-right: 1em;
  svg{width: 20px;margin-right: 0.5em;}
}

h2,h3,h4, p.strong, span.button, .navbar-brand, .nav-item, .banner{font-family: $font-title;font-variant-caps: small-caps;}
h2{color:$gray-3;border-bottom: 0.08em solid $gray-3; margin-bottom: 1em;}
h3{text-indent: 1em;margin-top: 0.5em;}
h4{margin-top:0.5em;text-indent: 2.5em; color: $gray-3; text-decoration: underline;}
a{
  color: $gray-3;
  text-decoration: underline;
  font-weight: 700;
  &:hover, &:focus{color: $maincolor;}
}

.none, .button, .cta, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
  text-decoration: none;
  font-weight: 300;
  &:hover, &:focus{color: inherit;text-decoration: none;}
}

.h1{
  text-align: center;
  line-height: 0.2em;
  font-variant-caps: normal;
  h1{
  font-family: $font-title;
  font-size: 1.2em;
  padding: 0;
  margin:0;
  }
  span{
    font-size: 0.6em;
    font-family: $font-title;
  }
  h2.endo{
    font-family: $cursive;
    color: $maincolor;
    font-size: 1.5em;
    transform: rotate(-5deg);
    font-variant-caps: normal;
    border-bottom: none;
  }
}

.margintop{margin-top: 1em;}
.title{
  font-family: $cursive;
  font-size: 1.5em;
  font-variant-caps: normal;
}

.banner{
  min-height: 170px;
  text-align: center;
  margin-top: 20px;
  img{width: 70%;}
  .texte{
    align-self: center;
    p{margin-top: 0.5em;}
  }
}

.sidebar{
  width: 50%;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: 100%;
  line-height: 1;
  img{width: 80%;}
  .texte{
    align-self: center;
    p{margin-top: 0.5em;}
  }
}

.cta{
  font-size: 1.2em;
  padding: 0.5em;
  background-color:$maincolor;
  color: #fff;
  text-align: center;
  font-family: $font-title;
  font-variant-caps: normal;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover{padding: 0.5em 1em;color: black;}
}

.content{width: 50%;top:70px;position: relative;height: auto;}
.previous{margin-bottom: 2em;}
figure{
  border-radius: 25px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding: 1em;
  background-color: $gray-1;
  text-align: center;
  span{
    font-family: $cursive;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
  span.date{
    font-family: $font-family;
    font-size: 0.8em;
    font-weight: 700;
  }
  img{
    width: 150px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: #fff;
    border-radius: 100px;
    padding: 0;
    margin: 0;
  }
  p{width: 90%; text-align: center;}
  span.button{
    font-size: 1.2em;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: $gray-2; padding: 0.5em 1em;}
}
a figure:hover{
  img, span.button{background-color: $maincolor;}
  span.button{color: #fff; padding: 0.5em 1.5em;}
}

a.button{
  font-family: $font-title;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: $gray-2; padding: 0.5em 1em;
  margin-bottom:1.5em;
}
a.button:hover{color: #fff; padding: 0.5em 1.5em;background-color: $maincolor;}

form{
  margin:0 auto;
  flex: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  flex: auto;
  .top{
    display: inline-flex;
    .inside{
      display:flex;
      flex-direction: column;
      label{width: 275px;}
      &:last-child{
      margin-left: 1em;
      }
    }
  }
  label{
    margin-right: 1em;
    font-family: $font-title;
  }
  textarea{
    font-family:$font-family;
    font-size: 1.1em;
    width: 100%;
  }
  input[type="submit"]{
    margin: 0 auto;
    background-color: $maincolor;
    color: white;
    font-family: $font-title;
    border:none;
    width: 150px;
    margin-top: 1em;
    font-size: 1em;
  }
}
.info{
  font-family:"helsinkiregular", sans-serif;
  font-size: 1.5em;
  margin:0 auto;
  img{max-width: 300px; display: block;margin: 0 auto;}
}

form:focus{
  border-color: #ffbd80;
  box-shadow :0 0 0 0.05rem #ffbd80;
}

#contactform{margin-top: 2em;}

input[type="text"], input[type="search"], .button{
  padding: 0.7em 1.5em;
  max-width: 600px;
}

p.strong{font-size: 1.5em;}

footer{min-height: 3em; text-align: center;padding:1em;margin-top: 1em;}

.articles-img img{
  width: 47%;
  display: inline-block;
  margin: 0.4em;
  @media (max-width: 839px){
  width: 100%;
  margin:0.4em 0;
  }
}
figure.schema, figure.bigschema{margin:0 0 1em 0;}
figure.schema{
  img{width: 400px; border-radius: 0px;background-color: transparent;}
}
figure.bigschema img{width: 600px;border-radius: 0px;background-color: transparent;}
.reseaux{margin-bottom: 1em;}
div.big{
  font-size: 1.5em;
  font-family: $font-title;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  &:before{
    content: url('/assets/images/note.svg');
    display: block;
    max-width: 100px;
    margin: 0 auto;
  }
}
span.id{
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  &:after{
    border-bottom: dotted 4px;
    width: 50%;
    content: "";
    display: block;
    margin:auto;
    margin-top: 0.5em;
  }
}

ul.sommaire{
  list-style: none;
  li{
  font-weight: 700;
  font-size: 1.2em;
  text-decoration:underline;
  margin-bottom: 0.5em;
  a:hover{color: $maincolor;}
  }
}

.animate{
  position: relative;
  bottom: 0px;
  transition: bottom 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover{bottom: 3px;}
}

.modal-content{
  h5, button{font-family: $font-title;}
  button{border:none;}
  button:hover{background-color: $maincolor; border:none;}
}

.message{
  display: flex;
  flex-direction: column;
  align-items:center;
  p{font-family: $font-comic;font-size: 1.6em; text-align: center; width: 60%; margin-top: 1em;}
}

@media screen and (max-width: 500px) {
  p.title{font-size: 1.2em;}
}

@media screen and (max-width: 800px) {
    .sidebar{
      img{width: 100%;}
    }
    .h1{
      h1{
      font-size: 0.8em;
      }
      span{
      font-size: 0.4em;
      }
      h2.endo{
        font-size: 1em;
      }
    }
  p.title{margin-top: 0.8em;}
}

@media screen and (max-width: 1300px) {
  .sidebar{
  width: auto;
  position: relative;
  height: auto;
  top:20px;
  line-height: 1.5;
  @media screen and (min-width: 991px) {img{width: 50%;}}
  }
  .h1{
  h1{
    font-size: 0.8em;
  }
  span{
  font-size: 0.4em;
    }
  h2.endo{
    font-size: 1em;
    }
}
  .content{width: auto; margin: 0 auto; margin-top: 1em; top:20px;}
  .default{min-width: auto;}
}

@media screen and (min-width: 1300px) {
  .inline{width: 45%;display: inline-block;}
}