---
layout: default
---
{% include sidebar.html %}
    <div class="content minimum">
      {% for p in site.posts %}
        {% if p.categories contains page.category %}
          <div class="col-lg-10 offset-lg-1 col-md-12 padding0">
            <a href="{{ p.url }}" class="none">
              <figure>
                <span>{{ p.type }}</span>
                <img src="{{ p.image }}">
                <h3>{{ p.title }}</h3>
                {% include date.html %}
                <span class="date">{{ date_french }}</span>
                <p>{{ p.excerpt }}</p>
                <span class="button">Lire</span>
              </figure>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>