---
layout: default
---
{% include sidebar.html %}
    <div class="content">
      {% for p in site.posts %}
        {% if p.categories contains page.category %}
          <div class="col-lg-10 offset-lg-1">
            <a href="{{ p.url }}">
              <figure>
                <span>{{ p.type }}</span>
                <img src="{{ p.image }}">
                <h3>{{ p.title }}</h3>
                <p>{{ p.excerpt }}</p>
                <span class="button">Lire</span>
              </figure>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>