---
layout: default
---
{% include pagination-newer.html %}

<div class="addthis_inline_share_toolbox"></div>
<div class="content">
  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
    </a>
    <a href="{{ site.baseurl }}{{ post.url }}">
      <figure>
        <div class="cut"><img src="{{ post.img }}"></div>
      <figcaption>{{ post.type }} {% include svg/lire.svg %}</figcaption>
      </figure>
    </a>
    <div>
      <h3>{{ post.subtitle }}</h3>
      {% include post-meta.html post=post %}
    </div>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <!-- <a href="{{ site.baseurl }}{{ post.url }}">Lire</a> -->
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}

  {% include pagination-older.html %}
</div>
